body {
    background-color: antiquewhite;
    color:darkslateblue;
    font-family: Comic Sans MS, cursive, sans-serif;
}

h1 {
    text-align: center;  
    font-size: 30px;
}
.funcionalidade a {
    text-decoration: none;
}

.lista_funcionalidades {
    margin: 10px;
}

#imgUtilizador{
    width: 500px;
    height: 400px;
    float: right;
    margin-top: -35%;
    margin-right: 4%;
}

.buttons{
    margin-right: 80%;
    float: left;
}

.ul {
list-style-type: none;
}