body {
    background-color: antiquewhite;
    color:darkslateblue;
    font-family: Comic Sans MS, cursive, sans-serif;
}

.titulo_vistaAdmin {
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.titulo_que_pretender {
    font-size: 15px;
    font-style: italic;
}

.funcionalidade a {
    text-decoration: none;
}

.lista_funcionalidades {
    margin: 10px;
}
