
body {
    background-color: antiquewhite;
    color: darkslateblue;
    font-family: Comic Sans MS, cursive, sans-serif;
}

.content{
    display: inline-block;
}

.links a{
    display: inline-block;
    text-decoration: none;
    float: right;
}

._h2 {
     font-family: Comic Sans MS, cursive, sans-serif;
}

#documento {
    text-align: center;
}